img.bg {
  /* Set rules to fill background */
  min-height: 100%;
  min-width: 1024px;

  /* Set up proportionate scaling */
  width: 100%;
  height: auto;
}

@media screen and (max-width: 1024px) {
  /* Specific to this particular image */
}

.heading_colour {
  color: black;
  margin-top: 100px;
}
