body {
  background-image: url(../kjd-fontend-test-files/kjd-assets/hearo-top.jpg);
  background-repeat: no-repeat;
  background-size: 100%;
  z-index: -1;
}

.heading_colour {
  color: black;
  margin-top: 60%;
  text-align: center;
}

.move_icon {
  color: black;
  margin-left: 100%;
}
