.heading {
  background-image: url(../kjd-fontend-test-files/kjd-assets/hearo-top.jpg);
  background-repeat: no-repeat;
  background-size: 110%;
  height: 100vh;
}

.heading_colour {
  color: black;
}
