body {
  margin: 0;
  padding: 0;
}

.box {
  background-image: url(../kjd-fontend-test-files/kjd-assets/hearo-top.jpg);
  background-position: center center;
  background-size: cover;
  height: 100vh;
}

.heading_colour {
  color: black;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);

  text-align: center;
}

.move_icon {
  color: white;
  margin-left: 98%;
}
